/ {
        chosen {
                zephyr,console = &usart1;
                zephyr,shell-uart = &usart1;
                chipremote,heartbeat = &green_led_2;
                chipremote,proto,serial = &usart2;
                chipremote,spi0 = &spi1;
                chipremote,i2c0 = &i2c1;
        };
};

&usart2 {
        fifo-enable;
        current-speed = <115200>;
};
