[submodule "firmware/libraries/ufw"]
	path = firmware/zephyr/modules/ufw
	url = ../ufw.git
[submodule "firmware/zephyr/kernel"]
	path = firmware/zephyr/kernel
	url = https://github.com/zephyrproject-rtos/zephyr.git
[submodule "firmware/zephyr/modules/hal-stm32"]
	path = firmware/zephyr/modules/hal-stm32
	url = https://github.com/zephyrproject-rtos/hal_stm32.git
[submodule "firmware/zephyr/modules/picolibc"]
	path = firmware/zephyr/modules/picolibc
	url = https://github.com/zephyrproject-rtos/picolibc.git
[submodule "firmware/zephyr/modules/cmsis-6"]
	path = firmware/zephyr/modules/cmsis_6
	url = https://github.com/zephyrproject-rtos/CMSIS_6.git
