.*
!.gitignore
*~
*.tmp
*.orig
*.o
*.a
*.pro
*.tar.*
gmon.out
Makefile
tags
TAGS
config.log
config.cache
src/cmc
core
core.*
dev/html/index.html
dev/html/*/*
src/*/autogen/*.h
src/*/autogen/*.c
manual/cmc.1
manual/cmc.html
manual/cmcrc.5
manual/cmcrc.html
buildsys/etc/doxygen.t_*
buildsys/VERSION
buildsys/cmc.*
buildsys/cmc*.h
buildsys/run/
tests/*/*_t
tests/*/Script/test_*
tests/helpers/defines
tests/*/Makefile.auto
tests/tuitest/*.log
build
apidocs
