[submodule "firmware/ufw"]
	path = firmware/ufw
	url = https://github.com/ft/ufw.git
[submodule "firmware/libtap"]
	path = firmware/libtap
	url = https://github.com/zorgnax/libtap.git
[submodule "kernel/zephyr"]
	path = kernel/zephyr
	url = https://github.com/zephyrproject-rtos/zephyr.git
[submodule "kernel/modules/hal_stm32"]
	path = kernel/modules/hal_stm32
	url = https://github.com/zephyrproject-rtos/hal_stm32.git
[submodule "kernel/modules/cmsis"]
	path = kernel/modules/cmsis
	url = https://github.com/zephyrproject-rtos/cmsis.git
