.*
!.gitignore
*~
*.tmp
*.orig
*.o
*.go
*.a
*.pro
*.tar.*
*.elf
*.lst
*.a43
gmon.out
tags
TAGS
core
core.*
spec.pdf
spec.tex
spec.txt
auto/*
remote-fw/Makefile
remote-fw/config.*.h
remote-fw/platform.h
