.*
!.gitignore
*~
\#*
*.tmp
*.orig
*.o
*.go
*.a
*.pro
*.tar.*
*.elf
*.lst
*.a43
gmon.out
tags
TAGS
core
core.*
rccep-spec.pdf
rccep-spec.tex
rccep-spec.txt
rccep-spec.html
crdsl-spec.pdf
crdsl-spec.tex
crdsl-spec.txt
crdsl-spec.html
client-library.pdf
client-library.tex
client-library.txt
client-library.html
auto/*
